.wrapper {
  width: 100%;
}
.wrapper .content {
  padding-top: 100px;
}
.wrapper .content .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
.container .content-nav {
  max-width: 900px;
  margin: 0 auto;
}
.container .content-nav ul {
  display: flex;
  border: 1px solid #f4f4f4;
  border-radius: 3px;
}
.container .content-nav ul li {
  flex: 1;
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 400;
  color: #333;
}
.active {
  background: #0080fe;
  color: #fff !important;
}
.container .content-nav ul li:nth-child(2),
.container .content-nav ul li:nth-child(3) {
  border: 1px solid #f4f4f4;
}
.nav-list {
  display: none;
  padding-top: 50px;
}
.nav-list ul {
  display: flex;
}
.nav-list ul li {
  flex: 1;
  font-size: 18px;
}
.nav-list ul li p {
  padding: 0 15px;
}
.on {
  display: block;
}
.nav-list .kefu {
  width: 90%;
  margin:0 auto;
  text-align: center;
  font-size: 20px;
}
.nav-list .kefu p {
  margin-bottom: 15px;
}
@media (max-width:768px) {
  .container .content-nav ul {
    display: flex;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    width:90%;
    margin:0 auto;
  }
  .nav-list ul {
    display: block;
  }
  .nav-list ul li {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media (max-width:414px) {
  .container .content-nav ul li {
    font-size: 12px;
  }
}