// 首页
.wrapper {
	width: 94%;
	margin:0 auto;
	padding-top: 50px;
	font-size: 0;
}
#pie {
	float: left;
	display: inline-block;
	width: 49%;
	margin-right: 2%;
	height: 400px;
	background: #fff !important;
	border-radius: 5px;
}
#pie2 {
	float: left;
	display: inline-block;
	width: 49%;
	height: 400px;
	background: #fff !important;
}
#line,#line2 {
	display: inline-block;
	width: 100%;
	height: 450px;
	background: #fff !important;
	margin-top: 50px;
}
.more {
	background: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	margin: 50px auto;
	color: #333;
	text-align: left;
	font-size: 18px;
}
.more .down-more {
	display: block;
	content: "";
	clear: both;
}
.more p {
	display: inline-block;
	margin: 0;
}
.more .menu-icon {
	display: inline-block;
	float: right;
	vertical-align: middle;
	line-height: 24px;
	color:#0899f1;
}
.more .menu-icon img {
	width: 24px;
	height: 24px;
	vertical-align: top;
}
.menu-down {
	transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* Internet Explorer 9*/
    -moz-transform:rotate(180deg); /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ Chrome */
    -o-transform:rotate(180deg); /* Opera */
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
#line2 {
	display: none;
	margin-top:0;
}

// 我的名片
.card {
	width: 100%;
}
.breadcrumb {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0 !important;
    line-height: 35px;
}
.breadcrumb:after {
	display:block;
	content:"";
	clear:both;
}
.breadcrumb span {
    padding: 0 5px
}
.breadcrumb .btn-success {
	float:right;
}

@media(max-width: 767px) {
    .breadcrumb>.container {
        padding:0
    }
}
.input-btn  {
	padding: 15px 0;
}
.input-btn label {
	display: inline-block;
	margin-right: 15px;
	margin-left: 20px;
	vertical-align: middle;
}
.input-btn select,
.input-btn	input[type="text"]
 {
	margin-left: 15px;
	padding: 0 8px;
	width: 170px;
	height: 30px;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 16px;
	color: #555555;
	display: inline-block;
}
.input-btn	button[type="submit"] {
	margin: 0 auto;
	height: 30px;
	font-size: 14px;
	line-height: 14px;
	color: #ffffff;
	background-color: #5eb95e;
	outline: none;
	cursor: pointer;
	border-color: #5eb95e;
	border-radius: 3px;
	vertical-align: top;
}
.card-content {
	background: #fff;
}
.card-content	button[type="button"] {
	height: 30px;
	margin-right: 30px;
}
.card-content .screen-btn:after {
	display: block;
	content: "";
	clear: both;
}
.btn-total {
	padding-bottom: 10px;
}
.btn-details {
	position: relative;
	display: inline-block;
	margin-left: 20px;
}
.screen{
	background-color: #dd514c !important;
	color: #fff !important;
	border-color: #dd514c !important;
}
.attribute {
	background: #5a98de !important;
	color: #fff !important;
	border-color: #5a98de !important;
}
.btn-details ul {
	position: absolute;
	display: none;
	width:300px;
	background-color: #ffffff;
	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175); /* ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¾ Firefox */
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
	margin: 2px 0 0;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
}
.btn-details ul li {
	padding: 10px;
}
.btn-details ul .last {
	border:none;
	text-align: center;
}
.btn-details ul .last button {
	width: 80px;
	background: #5eb95e;
	border-color: #5eb95e;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	border-radius: 4px;
}
.btn-details li span{
	display: inline-block;
	width: 73px;
}
.btn-details li select {
	height: 30px;
	width: 150px;
	margin-left: 5%;
	box-sizing: border-box;
}
.Hui-iconfont {
	margin-right: 5px;
	color:#fff;
}
.btn-right  {
	float: right;
	margin-right: 20px;
	font-size: 14px;
	line-height: 30px;
}
.tabel-list {
	height: 650px;
	width: 1600px;
	overflow: auto;
	margin: 10px auto;
}
.tabel-list table {
	border-top: 1px solid #ddd;
	margin: 0 auto;
}
.tabel-list table .thead-text {
	width: 100%;
}
.th-text th,.tr-text {
	border-right: 1px solid #ddd;
}
.th-text th, .tr-text th,.tr-text td{
	text-align: center;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 8px;
	line-height: 20px;
}
.sim-popup {
	// display: none;
	width: 680px;
	margin: 30px auto;
	border: 1px solid #ddd;
}
.sim-popup h1 {
	font-size: 14px;
	margin: 10px !important;
	text-align: center;
}
.layui-layer-dialog {
	width: 670px !important;
	margin: 0 auto !important;
}
.layui-layer-content {
	padding: 10px 0 !important;
}
.layui-layer-content h1 {
	text-align: center;
	font-size:14px;
	border-bottom: 1px solid #ddd;
	padding-top: 0 !important;
	margin: 0 !important;
}
.sim-popup-content>ul {
	width: 96%;
	margin: 0 auto;
	font-size: 0;
}
.sim-popup-content ul>li {
	width: 49%;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	padding: 8px 0;
}
.sim-popup-content ul>li:nth-of-type(even){
	margin-left: 2%;
	vertical-align: top;
}
.sim-popup-content li span {
	display: inline-block;
	width: 100px;
	line-height: 30px;
	height: 30px;
}
.sim-popup-content li b {
	color: red;
}
.sim-popup-content input[type="text"],
.sim-popup-content select {
	display: inline-block;
	height: 30px;
	width: 180px;
	margin-left: 5px;
	border-radius: 4px;
	vertical-align: top;
	padding: 0 8px;
}
.layui-layer-btn {
	float: none !important;
	text-align: center !important;
	padding:10px 0 !important;
}
